@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,500i,600,600i,700,700i,800|Open+Sans:400,400i,600,600i,700,700i,800&display=swap);

.font{
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.banner-area {
  position: relative;
  min-height: 300px;
  color: #fff;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url("/src/img/banner/banner2.jpg");
}

.banner-title {
  color: black;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 58px;
  font-weight: bold;
  display: flex;
  margin-top: 5%;
  justify-content: center;
}

@media (max-width: 767px) {
  .banner-title {
    font-size: 35px;
    margin-top: 25%;
  }

.banner-area {
 width: 100%;
}

}
@media (max-width: 575px) {
  .banner-title {
    font-size: 32px;
  }
}

.card-img-top{
  pointer-events: none;
}